body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.nav {
    background-color: #ff6b6b;
    padding: 20px;
    text-align: center;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin: 0 10px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
}

.contacto {
    background-color:   #d46262a2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.btn {
    background-color:  #d46262a2;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
